# Database Configuration
POSTGRES_DB=springuber
POSTGRES_USER=postgres
# FIPS password requires 14+ characters
POSTGRES_PASSWORD=SpringUber1234!

# Application Configuration
SPRING_JPA_HIBERNATE_DDL_AUTO=create

# Database URLs (using docker network hostname 'db')
SPRING_DATASOURCE_URL_DHB=jdbc:db-dhb://db-dhb:5432/springuber
SPRING_DATASOURCE_URL_BSI=jdbc:db-bsi://db-bsi:5432/springuber